<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/" lang="en">

<wicket:head>

  <link href="css/summernote.css" rel="stylesheet">
  <script src="js/summernote.js"></script>
  <script src="js/summernotewicket.js"></script>

</wicket:head>

<wicket:extend>

    <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">

      <form wicket:id="form">
      
        <div class="form-group">
          <label for="testname">Test Name</label> 
          <input type="text" class="form-control" id="testname" wicket:id="testname" autocomplete="off" placeholder="Enter the name of the test">
        </div>
        
        <div class="form-group">
        
              <div class="dropdown">
                  <a href="#" class="dropdown-toggle" id="drop1" data-toggle="dropdown" role="button" 
                      aria-haspopup="true" aria-expanded="false"> Type <span class="caret"></span></a>
                  <ul class="dropdown-menu" aria-labelledby="drop1" wicket:id="categoriescontainer">
                    <li wicket:id="categories"><a onclick="$('#cat').val($(this).find('label').html());"> 
                        <label wicket:id="category"></label>
                     </a></li>
                  </ul>
                
                <input type="text" class="form-control" id="cat" wicket:id="category" autocomplete="off" placeholder="category">
              
              </div>
        </div>
        
        <div class="form-group">
          <label for="summernote">Test Contents</label>
          <p wicket:id="testhelpmessage"></p>
          <div id="summernote"></div>
        </div>
        
        <div class="form-group">
          <div class="alert alert-success" style="display: none;" role="alert" wicket:id="savefeedback">Saved Successfully</div>
        </div>
        
        <textarea wicket:id="testcontents" hidden="hidden" id="htc"></textarea>
        <button type="submit" class="btn btn-primary" wicket:id="save" onclick="adaptForm()">Submit</button>
        <button type="button" class="btn btn-danger" wicket:id="delete">Delete</button>
      
      </form>
      
      <wicket:child />
    </div>
  
</wicket:extend>
</html>
